# CrazyBit Tube Edition - Ported for HIDIZS AP80 Pro Max (360x640)
# Vacuum Tube Amber/Orange Theme (#FF4D00 on #210000)
# CC-BY-SA https://creativecommons.org/licenses/by-sa/3.0/

selector type: bar (inverse)
statusbar: off
scrollbar: off
scrollbar width: 8
volume display: graphic
battery display: numeric
foreground color: FF4D00
background color: 000000
line selector start color: FF4D00
line selector end color: C63800
font: /.rockbox/fonts/21-LanaPixel.fnt
wps: /.rockbox/wps/CrazyBitTube.wps
sbs: /.rockbox/wps/CrazyBitTube.sbs
fms: /.rockbox/wps/CrazyBitTube.fms
backdrop: -
iconset: /.rockbox/icons/modone.bmp
viewers iconset: /.rockbox/icons/modone_viewer.bmp
filetype colours: -
ui viewport: -
